@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
<h1>Welcome to ASP.NET Core MVC Projects</h1>
    <ul>
        <li><a href="@Url.Action("Create", "Employee")">Employee Registration Form</a></li>
        <li><a href="@Url.Action("Create", "Product")">Product Inventory Management</a></li>
        <li><a href="@Url.Action("Create", "Course")">Course Registration Form</a></li>
        <li><a href="@Url.Action("Create", "Vehicle")">Vehicle Registration System</a></li>
        <li><a href="@Url.Action("Create", "Hotel")">Hotel Room Booking</a></li>
        <li><a href="@Url.Action("Create", "Movie")">Movie Ticket Booking</a></li>
        <li><a href="@Url.Action("Create", "Gym")">Gym Membership Form</a></li>
        <li><a href="@Url.Action("Create", "Ecommerce")">Ecommerce Order Form</a></li>
        <li><a href="@Url.Action("Create", "Bank")">Bank Account Management</a></li>
        <li><a href="@Url.Action("Create", "Quiz")">Online Quiz Submission</a></li>
        <li><a href="@Url.Action("Create", "Customer")">Customer Feedback Form</a></li>
        <li><a href="@Url.Action("Create", "Patient")">Patient Registration</a></li>
    </ul>
</div>
